.stats-section {
  height: 100vh;
  width: 100%;
  background-color: #bebec0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.stats-container {
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #bebec0;
  box-shadow: -3px -3px 5px #ffffff70, 3px 3px 10px #00000070,
    inset -3px -3px 5px #ffffff70, inset 3px 3px 10px #00000070;
}

.stats-container > div:nth-of-type(1) {
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.upgrade-stats {
  height: 100%;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #bebec0;
  box-shadow: -3px -3px 3px #ffffff70, 3px 3px 8px #00000070;
}

.upgrade-stats h1 {
  color: #851523;
  font-size: 3em;
}

.upgrade-stats p {
  font-size: 1.2em;
  text-align: left;
}

.upgrade-stats sub {
  font-size: 0.6em;
}

span {
  font-size: 1.5em;
  font-weight: bold;
  color: #851523;
}

.stats-container > div:nth-of-type(2) {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.total-clicks-stat,
.nanopersec-stat {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid #bebec0;
  box-shadow: -3px -3px 5px #ffffff70, 3px 3px 8px #00000070,
    inset -3px -3px 5px #ffffff70, inset 3px 3px 8px #00000070;
}

.total-clicks-stat {
  width: 23%;
}

.nanopersec-stat {
  width: 73%;
}

.total-clicks-stat h1,
.nanopersec-stat h1 {
  font-size: 1.5em;
  color: #851523;
  margin-right: 15px;
}

.total-clicks-stat p,
.nanopersec-stat p {
  font-size: 1.2em;
  font-weight: bold;
}

.stats-container > div:nth-of-type(3) {
  text-align: center;
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid #bebec0;
  box-shadow: -3px -3px 5px #ffffff70, 3px 3px 10px #00000070;
}

.time-stat h1 {
  color: #851523;
  font-size: 4em;
  margin-bottom: 20px;
}

.time-stat p {
  font-size: 3em;
  font-weight: bold;
}

/*Changes to phones screens (portrait)*/
@media screen and (min-width: 250px) and (max-width: 500px) {
  .stats-container {
    height: 95%;
    width: 95%;
    padding: 5px;
  }

  .upgrade-stats {
    border-radius: 10px;
    padding: 10px;
    align-items: center;
  }

  .upgrade-stats h1 {
    font-size: 1em;
    margin-bottom: 5px;
  }

  .upgrade-stats p {
    width: 100%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span {
    font-size: 1em;
  }

  .upgrade-stats sub {
    font-size: 0.4em;
  }

  .total-clicks-stat,
  .nanopersec-stat {
    border: 3px solid #bebec0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .total-clicks-stat h1,
  .nanopersec-stat h1 {
    font-size: 1em;
    margin-right: 0;
    margin-bottom: 3px;
  }

  .total-clicks-stat p,
  .nanopersec-stat p {
    font-size: 1em;
  }

  .time-stat h1 {
    font-size: 1.5em;
  }

  .time-stat p {
    font-size: 1.5em;
  }
}

/*Changes to phones screens (landscape)*/
@media screen and (min-width: 501px) and (max-width: 916px) {
  .stats-container {
    height: 95%;
    width: 95%;
    padding: 5px;
  }

  .upgrade-stats {
    border-radius: 10px;
    padding: 10px;
    align-items: flex-start;
  }

  .upgrade-stats h1 {
    font-size: 1.5em;
  }

  .upgrade-stats p {
    font-size: 0.9em;
  }

  .upgrade-stats sub {
    font-size: 0.5em;
  }

  span {
    font-size: 0.9em;
  }

  .total-clicks-stat,
  .nanopersec-stat {
    border: 3px solid #bebec0;
    border-radius: 10px;
  }

  .total-clicks-stat h1,
  .nanopersec-stat h1 {
    font-size: 1em;
    margin-right: 0;
    margin-right: 5px;
  }

  .total-clicks-stat p,
  .nanopersec-stat p {
    font-size: 1em;
  }

  .time-stat h1 {
    font-size: 1.5em;
  }

  .time-stat p {
    font-size: 1.5em;
  }
}

/* Changes for intermediate screen sizes*/
@media screen and (min-width: 917px) and (max-width: 1199px) {
  .stats-container {
    width: 80%;
  }

  .upgrade-stats {
    padding: 10px;
    align-items: flex-start;
  }

  .upgrade-stats h1 {
    font-size: 2.2em;
  }

  .upgrade-stats p {
    font-size: 1em;
  }

  .upgrade-stats sub {
    font-size: 0.6em;
  }

  span {
    font-size: 1em;
  }

  .total-clicks-stat,
  .nanopersec-stat {
    border: 3px solid #bebec0;
    border-radius: 10px;
  }

  .total-clicks-stat h1,
  .nanopersec-stat h1 {
    font-size: 1.2em;
    margin-right: 0;
    margin-right: 10px;
  }

  .total-clicks-stat p,
  .nanopersec-stat p {
    font-size: 1.2em;
  }

  .time-stat h1 {
    font-size: 3em;
  }

  .time-stat p {
    font-size: 3em;
  }
}

/* Changes for laptops and desktop screens*/
@media screen and (min-width: 1200px) and (max-width: 2000px) {
  .upgrade-stats {
    padding: 10px;
    align-items: flex-start;
  }

  .upgrade-stats h1 {
    font-size: 2.6em;
  }

  .upgrade-stats p {
    font-size: 1.2em;
  }

  .upgrade-stats sub {
    font-size: 0.6em;
  }

  span {
    font-size: 1.2em;
  }
}
