.stats-section {
  height: 100vh;
  width: 100%;
  background-color: #bebec0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-container {
  height: 90%;
  width: 90%;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #bebec0;
  box-shadow: -3px -3px 5px #ffffff70, 3px 3px 10px #00000070,
    inset -3px -3px 5px #ffffff70, inset 3px 3px 10px #00000070;
}

.stats-container > div:nth-of-type(1) {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.stats-container > div > div {
  height: 100%;
  width: 22%;
}

.upgrade-stat-1 {
  height: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: 5px solid #bebec0;
  box-shadow: -3px -3px 5px #ffffff70, 3px 3px 10px #00000070;
}

.upgrade-stat-1 h1 {
  font-size: 3em;
  color: #851523;
}

.upgrade-stat-1 p {
  font-size: 1.5em;
}

.upgrade-stat-1 sub {
  font-size: 0.5em;
}

.stats-container > div:nth-of-type(2) {
  height: 10%;
  width: 100%;
  display: flex;
  background-color: green;
}

.upgrade-stat-2,
.upgrade-stat-3 {
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  border: 5px solid #bebec0;
  box-shadow: -3px -3px 5px #ffffff70, 3px 3px 10px #00000070,
    inset -3px -3px 5px #ffffff70, inset 3px 3px 10px #00000070;
}

.upgrade-stat-2 h1,
.upgrade-stat-3 h1 {
  font-size: 1.2em;
  color: #851523;
}

.upgrade-stat-2 p,
.upgrade-stat-3 p {
  font-size: 1.2em;
}

.upgrade-stat-3 {
  width: auto;
  background-color: red;
}
