* {
  font-family: monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.clicker-container {
  height: 100vh;
  width: 100%;
  background-color: #bebec0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.clicker-container h1 {
  color: #851523;
  text-align: center;
}

.amount {
  font-size: 4em;
}

.amount-container {
  min-width: 100px;
  padding: 2px 10px;
  background-color: #bebec0;
  position: absolute;
  top: 10%;
  border: 5px solid #bebec0;
  border-radius: 10px;
  box-shadow: -2px -2px 3px #ffffff70, 2px 2px 6px #00000070,
    inset -2px -2px 3px #ffffff70, inset 2px 2px 6px #00000070;
  z-index: 5;
}

.clicker-container button {
  cursor: pointer;
  height: 30em;
  width: 30em;
  background-color: #bebec0;
  padding: 50px;
  position: absolute;
  bottom: 10%;
  border: 8px solid #bebec0;
  border-radius: 100%;
  outline: none;
  box-shadow: -3px -3px 3px #ffffff70, 3px 3px 6px #00000070;
  z-index: 5;
}

.clicker-container button:active {
  box-shadow: -3px -3px 3px #ffffff70, 3px 3px 6px #00000070,
    inset -3px -3px 3px #ffffff70, inset 3px 3px 6px #00000070;
}

.click-icon {
  width: 100%;
  height: 100%;
}

h1.rising-numbers {
  font-size: 2.5em;
  position: absolute;
  bottom: 0;
  transition: all 1s;
  z-index: 1;
}

@keyframes risingNumberAnimation {
  0% {
    transform: translate(0px, 0px);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, -1000px);
    opacity: 0;
  }
}

h1.rising-numbers {
  animation: risingNumberAnimation 1s 1;
}

/*Changes to phones screens (portrait)*/
@media screen and (min-width: 250px) and (max-width: 500px) {
  .amount-container h1 {
    font-size: 1em;
  }

  .amount-container .amount {
    font-size: 2em;
  }

  .clicker-container button {
    height: 14em;
    width: 14em;
  }

  h1.rising-numbers {
    font-size: 1.5em;
  }
}

/*Changes to phones screens (landscape)*/
@media screen and (min-width: 501px) and (max-width: 764px) {
  .amount-container h1 {
    font-size: 1em;
  }

  .amount-container .amount {
    font-size: 2em;
  }

  .clicker-container button {
    height: 14em;
    width: 14em;
  }

  h1.rising-numbers {
    font-size: 1.5em;
  }
}

/* Changes for intermediate screen sizes*/
@media screen and (min-width: 765px) and (max-width: 1199px) {
  /*No changes needed thus far*/
}

/* Changes for laptops and desktop screens*/
@media screen and (min-width: 1200px) and (max-width: 2000px) {
  /*No changes needed thus far*/
}
