.cover {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: #bebec0;
  overflow: hidden;
}

.cover-container {
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 10px solid #bebec0;
  border-radius: 20px;
  box-shadow: -2px -2px 3px #ffffff70, 2px 2px 3px #00000070,
    inset -2px -2px 3px #ffffff70, inset 2px 2px 3px #00000070;
}

.heading-container {
  display: flex;
}

.heading-container img {
  height: 50px;
}

@keyframes animateHeading {
  0% {
    transform: translate(-300px, -300px);
  }
  50% {
    transform: translate(-50px, 0px);
  }
  75% {
    transform: translate(-25px, -20px);
  }
  87.5% {
    transform: translate(-10px, 0px);
  }
  93.75% {
    transform: translate(-5px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.heading-container {
  animation: animateHeading 1s 1;
}

.cover-container h1 {
  font-size: 6em;
  color: #851523;
}

.cover-container p {
  font-size: 1em;
  text-align: center;
  width: 70%;
}

.cover-container p span {
  color: black;
  display: inline-block;
  opacity: 0;
}

span.space {
  margin: 0 5px 0 5px;
}

.cover-container button {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  color: #851523;
  height: 150px;
  width: 150px;
  background-color: transparent;
  outline: none;
  border: 10px solid #bebec0;
  border-radius: 100%;
  box-shadow: -2px -2px 3px #ffffff70, 2px 2px 6px #00000070;
}

@keyframes animateButton {
  0% {
    transform: translate(5px, 0px);
  }
  25% {
    transform: translate(0px, 5px);
  }
  50% {
    transform: translate(-5px, 0px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(5px, 0px);
  }
}

.cover-container button:hover {
  animation: animateButton 0.25s infinite;
}

.cover-container button:active {
  box-shadow: -2px -2px 3px #ffffff70, 2px 2px 6px #00000070,
    inset -2px -2px 3px #ffffff70, inset 2px 2px 6px #00000070;
}

.cover small {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

@keyframes animateText {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  50% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

/*Changes to phones screens (portrait)*/
@media screen and (min-width: 250px) and (max-width: 500px) {
  .cover-container {
    height: 85%;
    width: 95%;
    border-width: 3px;
  }

  .cover-container h1 {
    font-size: 3em;
  }

  .cover-container p {
    font-size: 1.2em;
    width: 95%;
  }

  .heading-container img {
    height: 15px;
  }

  .cover-container button {
    font-size: 1.5em;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
  }

  small {
    font-size: 0.7em;
  }
}

/*Changes to phones screens (landscape)*/
@media screen and (min-width: 501px) and (max-width: 916px) {
  .cover-container {
    height: 85%;
    width: 60%;
  }

  .cover-container h1 {
    font-size: 3.5em;
  }

  .cover-container p {
    font-size: 1.2em;
    width: 95%;
  }

  .heading-container img {
    height: 20px;
  }

  .cover-container button {
    font-size: 1.2em;
    height: 90px;
    width: 90px;
    margin-bottom: 10px;
  }

  small {
    font-size: 0.7em;
  }
}

/* Changes for intermediate screen sizes*/
@media screen and (min-width: 917px) and (max-width: 1199px) {
  .cover-container {
    width: 80%;
  }

  .cover-container h1 {
    font-size: 5em;
  }

  .cover-container p {
    font-size: 1.2em;
    width: 90%;
  }

  .heading-container img {
    height: 40px;
  }

  .cover-container button {
    font-size: 1.3em;
    height: 150px;
    width: 150px;
  }
}

/* Changes for laptops and desktop screens*/
@media screen and (min-width: 1200px) and (max-width: 2000px) {
  .cover-container {
    height: 80%;
  }

  .cover-container h1 {
    font-size: 5.5em;
  }

  .cover-container p {
    font-size: 1.3em;
    width: 80%;
  }

  .cover-container button {
    font-size: 1.5em;
    height: 150px;
    width: 150px;
  }
}
