.cover {
  height: 100vh;
  width: 100%;
  padding: 5% 25%;
  position: fixed;
  z-index: 99;
  background-color: #bebec0;
}

.cover-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 10px solid #bebec0;
  border-radius: 20px;
  box-shadow: -2px -2px 3px #ffffff70, 2px 2px 3px #00000070,
    inset -2px -2px 3px #ffffff70, inset 2px 2px 3px #00000070;
}

.heading-container {
  display: flex;
}

.heading-container img {
  height: 50px;
}

@keyframes animateHeading {
  0% {
    transform: translate(-300px, -300px);
  }
  50% {
    transform: translate(-50px, 0px);
  }
  75% {
    transform: translate(-25px, -20px);
  }
  87.5% {
    transform: translate(-10px, 0px);
  }
  93.75% {
    transform: translate(-5px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.heading-container {
  animation: animateHeading 1s 1;
}

.cover-container h1 {
  font-size: 6em;
  color: #851523;
}

.cover-container p {
  font-size: 1em;
  text-align: center;
  width: 70%;
}

.cover-container p span {
  color: black;
  display: inline-block;
  opacity: 0;
}

span.space {
  margin: 0 5px 0 5px;
}

.cover-container button {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  color: #851523;
  height: 150px;
  width: 150px;
  background-color: transparent;
  outline: none;
  border: 10px solid #bebec0;
  border-radius: 100%;
  box-shadow: -2px -2px 3px #ffffff70, 2px 2px 6px #00000070;
}

@keyframes animateButton {
  0% {
    transform: translate(5px, 0px);
  }
  25% {
    transform: translate(0px, 5px);
  }
  50% {
    transform: translate(-5px, 0px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(5px, 0px);
  }
}

.cover-container button:hover {
  animation: animateButton 0.25s infinite;
}

.cover-container button:active {
  box-shadow: -2px -2px 3px #ffffff70, 2px 2px 6px #00000070,
    inset -2px -2px 3px #ffffff70, inset 2px 2px 6px #00000070;
}

.cover small {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

@keyframes animateText {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  50% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.cover-container p span:nth-of-type(1) {
  animation: animateText 0.03s 0s forwards;
}
.cover-container p span:nth-of-type(2) {
  animation: animateText 0.03s 0.03s forwards;
}
.cover-container p span:nth-of-type(3) {
  animation: animateText 0.03s 0.06s forwards;
}
.cover-container p span:nth-of-type(4) {
  animation: animateText 0.03s 0.09s forwards;
}
.cover-container p span:nth-of-type(5) {
  animation: animateText 0.03s 0.12s forwards;
}
.cover-container p span:nth-of-type(6) {
  animation: animateText 0.03s 0.15s forwards;
}
.cover-container p span:nth-of-type(7) {
  animation: animateText 0.03s 0.18s forwards;
}
.cover-container p span:nth-of-type(8) {
  animation: animateText 0.03s 0.21s forwards;
}
.cover-container p span:nth-of-type(9) {
  animation: animateText 0.03s 0.24s forwards;
}
.cover-container p span:nth-of-type(10) {
  animation: animateText 0.03s 0.27s forwards;
}
.cover-container p span:nth-of-type(11) {
  animation: animateText 0.03s 0.3s forwards;
}
.cover-container p span:nth-of-type(12) {
  animation: animateText 0.03s 0.33s forwards;
}
.cover-container p span:nth-of-type(13) {
  animation: animateText 0.03s 0.36s forwards;
}
.cover-container p span:nth-of-type(14) {
  animation: animateText 0.03s 0.39s forwards;
}
.cover-container p span:nth-of-type(15) {
  animation: animateText 0.03s 0.42s forwards;
}
.cover-container p span:nth-of-type(16) {
  animation: animateText 0.03s 0.45s forwards;
}
.cover-container p span:nth-of-type(17) {
  animation: animateText 0.03s 0.48s forwards;
}
.cover-container p span:nth-of-type(18) {
  animation: animateText 0.03s 0.51s forwards;
}
.cover-container p span:nth-of-type(19) {
  animation: animateText 0.03s 0.54s forwards;
}
.cover-container p span:nth-of-type(20) {
  animation: animateText 0.03s 0.57s forwards;
}
.cover-container p span:nth-of-type(21) {
  animation: animateText 0.03s 0.6s forwards;
}
.cover-container p span:nth-of-type(22) {
  animation: animateText 0.03s 0.6s forwards;
}
.cover-container p span:nth-of-type(23) {
  animation: animateText 0.03s 0.63s forwards;
}
.cover-container p span:nth-of-type(24) {
  animation: animateText 0.03s 0.66s forwards;
}
.cover-container p span:nth-of-type(25) {
  animation: animateText 0.03s 0.69s forwards;
}
.cover-container p span:nth-of-type(26) {
  animation: animateText 0.03s 0.72s forwards;
}
.cover-container p span:nth-of-type(27) {
  animation: animateText 0.03s 0.75s forwards;
}
.cover-container p span:nth-of-type(28) {
  animation: animateText 0.03s 0.78s forwards;
}
.cover-container p span:nth-of-type(29) {
  animation: animateText 0.03s 0.81s forwards;
}
.cover-container p span:nth-of-type(30) {
  animation: animateText 0.03s 0.84s forwards;
}
.cover-container p span:nth-of-type(31) {
  animation: animateText 0.03s 0.87s forwards;
}
.cover-container p span:nth-of-type(32) {
  animation: animateText 0.03s 0.9s forwards;
}
.cover-container p span:nth-of-type(33) {
  animation: animateText 0.03s 0.93s forwards;
}
.cover-container p span:nth-of-type(34) {
  animation: animateText 0.03s 0.96s forwards;
}
.cover-container p span:nth-of-type(35) {
  animation: animateText 0.03s 0.99s forwards;
}
.cover-container p span:nth-of-type(36) {
  animation: animateText 0.03s 1.02s forwards;
}
.cover-container p span:nth-of-type(37) {
  animation: animateText 0.03s 1.05s forwards;
}
.cover-container p span:nth-of-type(38) {
  animation: animateText 0.03s 1.08s forwards;
}
.cover-container p span:nth-of-type(39) {
  animation: animateText 0.03s 1.11s forwards;
}
.cover-container p span:nth-of-type(40) {
  animation: animateText 0.03s 1.14s forwards;
}
.cover-container p span:nth-of-type(41) {
  animation: animateText 0.03s 1.17s forwards;
}
.cover-container p span:nth-of-type(42) {
  animation: animateText 0.03s 1.2s forwards;
}
.cover-container p span:nth-of-type(43) {
  animation: animateText 0.03s 1.23s forwards;
}
.cover-container p span:nth-of-type(44) {
  animation: animateText 0.03s 1.26s forwards;
}
.cover-container p span:nth-of-type(45) {
  animation: animateText 0.03s 1.29s forwards;
}
.cover-container p span:nth-of-type(46) {
  animation: animateText 0.03s 1.32s forwards;
}
.cover-container p span:nth-of-type(47) {
  animation: animateText 0.03s 1.35s forwards;
}
.cover-container p span:nth-of-type(48) {
  animation: animateText 0.03s 1.38s forwards;
}
.cover-container p span:nth-of-type(49) {
  animation: animateText 0.03s 1.41s forwards;
}
.cover-container p span:nth-of-type(50) {
  animation: animateText 0.03s 1.44s forwards;
}
.cover-container p span:nth-of-type(51) {
  animation: animateText 0.03s 1.47s forwards;
}
.cover-container p span:nth-of-type(52) {
  animation: animateText 0.03s 1.5s forwards;
}
.cover-container p span:nth-of-type(53) {
  animation: animateText 0.03s 1.53s forwards;
}
.cover-container p span:nth-of-type(54) {
  animation: animateText 0.03s 1.56s forwards;
}
.cover-container p span:nth-of-type(55) {
  animation: animateText 0.03s 1.59s forwards;
}
.cover-container p span:nth-of-type(56) {
  animation: animateText 0.03s 1.62s forwards;
}
.cover-container p span:nth-of-type(57) {
  animation: animateText 0.03s 1.65s forwards;
}
.cover-container p span:nth-of-type(58) {
  animation: animateText 0.03s 1.68s forwards;
}
.cover-container p span:nth-of-type(59) {
  animation: animateText 0.03s 1.71s forwards;
}
.cover-container p span:nth-of-type(60) {
  animation: animateText 0.03s 1.74s forwards;
}
.cover-container p span:nth-of-type(61) {
  animation: animateText 0.03s 1.77s forwards;
}
.cover-container p span:nth-of-type(62) {
  animation: animateText 0.03s 1.8s forwards;
}
.cover-container p span:nth-of-type(63) {
  animation: animateText 0.03s 1.83s forwards;
}
.cover-container p span:nth-of-type(64) {
  animation: animateText 0.03s 1.86s forwards;
}
.cover-container p span:nth-of-type(65) {
  animation: animateText 0.03s 1.89s forwards;
}
.cover-container p span:nth-of-type(66) {
  animation: animateText 0.03s 1.92s forwards;
}
.cover-container p span:nth-of-type(67) {
  animation: animateText 0.03s 1.95s forwards;
}
.cover-container p span:nth-of-type(68) {
  animation: animateText 0.03s 1.98s forwards;
}
.cover-container p span:nth-of-type(69) {
  animation: animateText 0.03s 2.01s forwards;
}
.cover-container p span:nth-of-type(70) {
  animation: animateText 0.03s 2.04s forwards;
}
.cover-container p span:nth-of-type(71) {
  animation: animateText 0.03s 2.07s forwards;
}
.cover-container p span:nth-of-type(72) {
  animation: animateText 0.03s 2.1s forwards;
}
.cover-container p span:nth-of-type(73) {
  animation: animateText 0.03s 2.13s forwards;
}
.cover-container p span:nth-of-type(74) {
  animation: animateText 0.03s 2.16s forwards;
}
.cover-container p span:nth-of-type(75) {
  animation: animateText 0.03s 2.19s forwards;
}
.cover-container p span:nth-of-type(76) {
  animation: animateText 0.03s 2.22s forwards;
}
.cover-container p span:nth-of-type(77) {
  animation: animateText 0.03s 2.25s forwards;
}
.cover-container p span:nth-of-type(78) {
  animation: animateText 0.03s 2.28s forwards;
}
.cover-container p span:nth-of-type(79) {
  animation: animateText 0.03s 2.31s forwards;
}
.cover-container p span:nth-of-type(80) {
  animation: animateText 0.03s 2.34s forwards;
}
.cover-container p span:nth-of-type(81) {
  animation: animateText 0.03s 2.37s forwards;
}
.cover-container p span:nth-of-type(82) {
  animation: animateText 0.03s 2.4s forwards;
}
.cover-container p span:nth-of-type(83) {
  animation: animateText 0.03s 2.43s forwards;
}
.cover-container p span:nth-of-type(84) {
  animation: animateText 0.03s 2.46s forwards;
}
.cover-container p span:nth-of-type(85) {
  animation: animateText 0.03s 2.49s forwards;
}
.cover-container p span:nth-of-type(86) {
  animation: animateText 0.03s 2.52s forwards;
}
.cover-container p span:nth-of-type(87) {
  animation: animateText 0.03s 2.55s forwards;
}
.cover-container p span:nth-of-type(88) {
  animation: animateText 0.03s 2.58s forwards;
}
.cover-container p span:nth-of-type(89) {
  animation: animateText 0.03s 2.61s forwards;
}
.cover-container p span:nth-of-type(90) {
  animation: animateText 0.03s 2.64s forwards;
}
.cover-container p span:nth-of-type(91) {
  animation: animateText 0.03s 2.67s forwards;
}
.cover-container p span:nth-of-type(92) {
  animation: animateText 0.03s 2.7s forwards;
}
.cover-container p span:nth-of-type(93) {
  animation: animateText 0.03s 2.73s forwards;
}
.cover-container p span:nth-of-type(94) {
  animation: animateText 0.03s 2.76s forwards;
}
.cover-container p span:nth-of-type(95) {
  animation: animateText 0.03s 2.79s forwards;
}
.cover-container p span:nth-of-type(96) {
  animation: animateText 0.03s 2.82s forwards;
}
.cover-container p span:nth-of-type(97) {
  animation: animateText 0.03s 2.85s forwards;
}
.cover-container p span:nth-of-type(98) {
  animation: animateText 0.03s 2.88s forwards;
}
.cover-container p span:nth-of-type(99) {
  animation: animateText 0.03s 2.91s forwards;
}
.cover-container p span:nth-of-type(100) {
  animation: animateText 0.03s 2.94s forwards;
}
.cover-container p span:nth-of-type(101) {
  animation: animateText 0.03s 2.97s forwards;
}
.cover-container p span:nth-of-type(102) {
  animation: animateText 0.03s 3s forwards;
}
.cover-container p span:nth-of-type(103) {
  animation: animateText 0.03s 3.03s forwards;
}
.cover-container p span:nth-of-type(104) {
  animation: animateText 0.03s 3.06s forwards;
}
.cover-container p span:nth-of-type(105) {
  animation: animateText 0.03s 3.09s forwards;
}
.cover-container p span:nth-of-type(106) {
  animation: animateText 0.03s 3.12s forwards;
}
.cover-container p span:nth-of-type(107) {
  animation: animateText 0.03s 3.15s forwards;
}
.cover-container p span:nth-of-type(108) {
  animation: animateText 0.03s 3.18s forwards;
}
.cover-container p span:nth-of-type(109) {
  animation: animateText 0.03s 3.21s forwards;
}
.cover-container p span:nth-of-type(110) {
  animation: animateText 0.03s 3.24s forwards;
}
.cover-container p span:nth-of-type(111) {
  animation: animateText 0.03s 3.27s forwards;
}
.cover-container p span:nth-of-type(112) {
  animation: animateText 0.03s 3.3s forwards;
}
.cover-container p span:nth-of-type(113) {
  animation: animateText 0.03s 3.33s forwards;
}
.cover-container p span:nth-of-type(114) {
  animation: animateText 0.03s 3.36s forwards;
}
.cover-container p span:nth-of-type(115) {
  animation: animateText 0.03s 3.39s forwards;
}
.cover-container p span:nth-of-type(116) {
  animation: animateText 0.03s 3.42s forwards;
}
.cover-container p span:nth-of-type(117) {
  animation: animateText 0.03s 3.45s forwards;
}
.cover-container p span:nth-of-type(118) {
  animation: animateText 0.03s 3.48s forwards;
}
.cover-container p span:nth-of-type(119) {
  animation: animateText 0.03s 3.51s forwards;
}
.cover-container p span:nth-of-type(120) {
  animation: animateText 0.03s 3.54s forwards;
}
.cover-container p span:nth-of-type(121) {
  animation: animateText 0.03s 3.57s forwards;
}
.cover-container p span:nth-of-type(122) {
  animation: animateText 0.03s 3.6s forwards;
}
.cover-container p span:nth-of-type(123) {
  animation: animateText 0.03s 3.63s forwards;
}
.cover-container p span:nth-of-type(124) {
  animation: animateText 0.03s 3.66s forwards;
}
.cover-container p span:nth-of-type(125) {
  animation: animateText 0.03s 3.69s forwards;
}
.cover-container p span:nth-of-type(126) {
  animation: animateText 0.03s 3.72s forwards;
}
.cover-container p span:nth-of-type(127) {
  animation: animateText 0.03s 3.75s forwards;
}
.cover-container p span:nth-of-type(128) {
  animation: animateText 0.03s 3.78s forwards;
}
.cover-container p span:nth-of-type(129) {
  animation: animateText 0.03s 3.81s forwards;
}
.cover-container p span:nth-of-type(130) {
  animation: animateText 0.03s 3.84s forwards;
}
.cover-container p span:nth-of-type(131) {
  animation: animateText 0.03s 3.87s forwards;
}
.cover-container p span:nth-of-type(132) {
  animation: animateText 0.03s 3.9s forwards;
}
.cover-container p span:nth-of-type(133) {
  animation: animateText 0.03s 3.93s forwards;
}
.cover-container p span:nth-of-type(134) {
  animation: animateText 0.03s 3.96s forwards;
}
.cover-container p span:nth-of-type(135) {
  animation: animateText 0.03s 3.99s forwards;
}
.cover-container p span:nth-of-type(136) {
  animation: animateText 0.03s 4.02s forwards;
}
.cover-container p span:nth-of-type(137) {
  animation: animateText 0.03s 4.05s forwards;
}
.cover-container p span:nth-of-type(138) {
  animation: animateText 0.03s 4.08s forwards;
}
.cover-container p span:nth-of-type(139) {
  animation: animateText 0.03s 4.11s forwards;
}
.cover-container p span:nth-of-type(140) {
  animation: animateText 0.03s 4.14s forwards;
}
.cover-container p span:nth-of-type(141) {
  animation: animateText 0.03s 4.17s forwards;
}
.cover-container p span:nth-of-type(142) {
  animation: animateText 0.03s 4.2s forwards;
}
.cover-container p span:nth-of-type(143) {
  animation: animateText 0.03s 4.23s forwards;
}
.cover-container p span:nth-of-type(144) {
  animation: animateText 0.03s 4.26s forwards;
}
.cover-container p span:nth-of-type(145) {
  animation: animateText 0.03s 4.29s forwards;
}
.cover-container p span:nth-of-type(146) {
  animation: animateText 0.03s 4.32s forwards;
}
.cover-container p span:nth-of-type(147) {
  animation: animateText 0.03s 4.35s forwards;
}
.cover-container p span:nth-of-type(148) {
  animation: animateText 0.03s 4.38s forwards;
}
.cover-container p span:nth-of-type(149) {
  animation: animateText 0.03s 4.41s forwards;
}
.cover-container p span:nth-of-type(150) {
  animation: animateText 0.03s 4.44s forwards;
}
.cover-container p span:nth-of-type(151) {
  animation: animateText 0.03s 4.47s forwards;
}
.cover-container p span:nth-of-type(152) {
  animation: animateText 0.03s 4.5s forwards;
}
.cover-container p span:nth-of-type(153) {
  animation: animateText 0.03s 4.53s forwards;
}

/* @media screen and (min-width: 1200px) and (max-width: 2000px) {

} */
